{% extends "layout.html" %}
{% block content %}
        <div class = "about">
            <p>This app explains the Pirush Hamishnayos in Baba Basra<p>
        </div>
        <h3>The Mishna in Perek Yesh Nochlim [Baba Basra 8:2] says:</h3>
        <div class = "hebrew" dir = "rtl">
            <p>
                סֵדֶר נְחָלוֹת כָּךְ הוּא: "אִישׁ כִּי יָמוּת וּבֵן אֵין לוֹ, וְהַעֲבַרְתֶּם אֶת נַחֲלָתוֹ לְבִתּוֹ" [במדבר כז:ח]: בֵּן קוֹדֵם לַבַּת, וְכָל יוֹצְאֵי יְרֵכוֹ שֶׁל בֵּן קוֹדְמִין לַבַּת. בַּת קוֹדֶמֶת לָאַחִין; יוֹצְאֵי יְרֵכָהּ שֶׁל בַּת, קוֹדְמִין לָאַחִין. אַחִין קוֹדְמִין לַאֲחֵי הָאָב; יוֹצְאֵי יְרֵכָן שֶׁל אַחִין, קוֹדְמִין לַאֲחֵי הָאָב. זֶה הַכְּלָל: כָּל הַקּוֹדֵם בַּנַּחֲלָה, יוֹצְאֵי יְרֵכוֹ קוֹדְמִין. וְהָאָב קוֹדֵם לְכָל יוֹצְאֵי יְרֵכוֹ.
            </p>
        </div>
        <h3>And this is the lashon of the Rambam in his Pirush Hamishnayos (Rav Korach's translation):</h3>
        <div class = "hebrew" dir = "rtl">
            <p>
                זכור בסדר הנחלות שלשה יסודות:
            </p>
            <p><strong>הראשון שבהם: </strong>אדם שמת, הקודמים בירושה הם בניו; ואם אין בנים, חוזרת הירושה לאב.</p>
            <p><strong>והיסוד השני: </strong>שכל מי שיש זכות לרשת: אם הוא נמצא, הוא עצמו יורש; ואם כבר מת, נחפש את יורשיו ונחשוב כאילו זה הראוי לרשת הוא המת.</p>
            <p><strong>והיסוד השלישי: </strong>שהזכרים קודמים לנקבות, אם היו בקרבה שווה למת.</p>
            <p>
                ושלושת היסודות הללו הם עמוד התווך של הענין, במי שיורש ואינו יורש.
            </p>
            <p>
                ואני אקבע לך משל שיתבאר לך ממנו איך צריך שתהיה על פי היסודות הללו ירושת האחים והאחיות, ואחי האב ואחיות האב, ואבות האבות; בענין שאם ימות האדם, למשל יירשנו זקן-זקן-זקן-זקינו {נ"א: אבי-אב-זקינו (כמו הדוגמא, שאברהם יורש את עמרם)}.
            </p>
            <p>
                הנח הנחה שעמרם מת, זכאים לירשו משה ואהרן.<br>
                לא מצאנו אותם בחיים, נחפש את בניהם הזכרים {או כל זרע הזכרים}.<br>
                לא מצאנו, נחפש אח"כ את בנותיהם הנקבות.<br>
            </p>
            <p>
                לא מצאנו, חזרה הירושה למרים, בגלל העדר הזכר וזרעו.<br>
                מצאנו שמתה מרים, נחפש אם הניחה בן זכר או זרע הזכר.<br>
                לא מצאנו, חזרנו לאחר מכן לחפש בת לה או זרע הבת.<br>
            </p>
            <p>
                לא מצאנו, חזרה הירושה לקהת אבי עמרם:<br>
                אם נמצא קהת, הוא יורש; ואם לא נמצא, נחשוב שקהת הוא זה שמת, לא עמרם, ונחפש את יורשיו, כלומר יורשי קהת, כדרך שעשינו בזרעו של עמרם.<br>
                אם מצאנו יצהר וחברון ועזיאל –אחי עמרם–, נוריש להם את נכסי עמרם כיון שהם יורשי קהת.<br>
                <i>ובאופן זה היא ירושת האחים</i> {מדין "משמוש": יורשים מהאבא, ולא מהאח שנפטר}.<br>
                ואם נעדרו, נחפש את זרעם, הזכרים לפני הנקבות.<br>
            </p>
            <p>
                ואם נעדר זרעם, נחפש את בת קהת: אם היא נמצאת, היא יורשת; ואם נעדרה, נחפש את זרעה, הזכרים לפני הנקבות.<br>
                ואם לא נמצא לה זרע, ונמצא א"כ שזרע קהת נעדר, חזרה הירושה לאביו, אל לוי:<br>
                אם נמצא לוי, הוא יורש; ואם נעדר, נחשוב שלוי הוא המת: נחפש את זרעו, והם גרשון ומררי. אם נמצאו, הם יורשים, כיון שהם בני לוי הראוי לרשת שזכה בנחלה.<br>
                <i>ובאופן זה יורשים אחי האב.</i><br>
            </p>
            <p>
                ואם נעדרו גרשון ומררי וזרעם הזכרים והנקבות, חזרה הירושה ליוכבד. ואם נעדרה, נחפש את זרעה, הזכרים לפני הנקבות. {בעצם כבר בדקנו, כי היא אשת עמרם!}
            </p>
            <p>
                ואם לא נמצא לה זרע, חזרה הירושה ליעקב: נחפש את יורשיו, והם הבנים. לא מצאנו אותם ול זרעם, חזרנו לדינה. לא מצאנו אותה ולא זרעה (והזכרים בכל זה הם לפני הנקבות) חזרה הירושה ליצחק, ונחשוב שיצחק הוא המת ונחפש את יורשיו, והוא עשיו.<br>
                והנה נכרתו הוא וזרעו, זכריהם ונקבותיהם, חזרה הירושה לאברהם.<br>
                וכן תמיד. והוא אמרם "נחלה ממשמשת והולכת עד ראובן"<br>
            </p>
            <p>
                הנה נתבאר לך כיצד יורש אברהם את עמרם. ונתבאר לך שאין ירושה לאחים בהמצא האב; ולא לאחי האב, בהמצא אבי האב; ולא לאחי אבי האב, בהמצא אבי אבי האב; ולא לאחי אבי באי האב, בהמצא אבי באי באי האב.<br>
                ועל פי יחס זה, תעלה תמיד.<br>
            </p>
            <p>
                ודע את היסודות הללו, ולא יסורו ממך!
            </p>
        </div>
        <div class = "story">
            <p>
                Now, to me, this Rambam is describing the pseudo-code for a program to find a person's yorshim!<br>
                So when I was learning Baba Basra, I wrote a program in Prolog.<br>
                Here's a portion of the program:
            </p>
            <pre>
                yerusha(Alive, [Alive]) :-        % Person alive is not morish to others
                    alive(Alive,yes), !
                yerusha(Niftar, Yorshim) :-
                    children(Niftar, Yorshim), !  % First go down to offspring
                    ;                             % and only if nothing is found, then
                    mishmush(Niftar, Yorshim), !. % go up (mishmush) to father

                children(N,Y) :-
                    (bagof(S, son(N,S), Children), !,  % first boys
                    ;                                  % and only if no boys
                    bagof(D, daughter(N,D), Children), % then girls
                    ),
                    ayen_alav(Children,Y).

                mishmush(N,Y) :-
                    assert(no_zera(N)), % remember that already found not to have zera
                    son(Father,N),
                    yerusha(Father,Y).  % mishmush means pretend as if the father is the niftar
            </pre>
            <p>
                But as I got older and hopefuly wiser, it became obvious that the Rambam is describing an object oriented program :-), so I wrote a program in Python!<br>
                Here's a portion of the program:<br>
                (You can see the entire program --of a command prompt version-- at <a href="https://www.pythonanywhere.com/user/tuanis/shares/83860d6f108146d4b9613b3e02293252/">Python Anywhere</a>)
            </p>
            <pre>
                class Person:
                """A person in the family tree"""

                    def yerusha(self):
                        if self.is_alive:
                            add_yoresh(self)
                        elif self.ayen_alav():  # Look for yoresh in descendants
                            pass  # Found at least one yoresh, so all done
                        else:
                            # Didn't find any live zera, so doing "mishmush": going up to father as if he was the niftar
                            self.father.yerusha()
            </pre>
            <p>Enjoy!</p>
        </div>
{% endblock %}